*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #dfdfe4;
  font-family: "Source Sans Pro";
  color: black;
}

h1 {
  text-align: center;
  font-size: 40px;
}

ul {
  padding: 50px 0;
}

ul li {
  position: relative;
  list-style-type: none;
  width: 6px;
  background-color: rgb(138, 14, 233);
  margin: 0 auto;
  padding-top: 50px;
}

ul li::after {
  background: rgb(244, 3, 136);
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

.uys {
  /* width: 120px;
  height: 25px;
  border-radius: 25px;
  background-color: chartreuse;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(50px, 50px);  */
}

ul li div {
  position: relative;
  width: 400px;
  padding: 15px;
  border-radius: 5px;
  bottom: 0;
  background: rgba(246, 226, 10, 0.967);
}

ul li:nth-child(odd) div {
  left: 45px;
}

ul li:nth-child(even) div {
  left: -445px;
}

time {
  font-weight: bold;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}

/* animation start  */
ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.9s ease-in-out;
}

ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

ul li.show div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

/* animation end */

@media screen and (max-width: 900px) {
  ul li div {
    width: 250px;
  }
  ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}
